%li{:id => "asset_#{asset.id}"}
  - if session[:user]
    %div.toolbar{:width => Asset.thumbnail_width}
      %span.handle drag
      %span.rotate
        = link_to(' &larr; ', assets_url(:action => 'rotate', :id => asset.id, :direction => 'ccw'), :onclick => "Element.show('loading')")
        rotate
        = link_to(' &rarr; ', assets_url(:action => 'rotate', :id => asset.id, :direction => 'cw'), :onclick => "Element.show('loading')")
      %span.delete= link_to_remote " delete &#215;", :url => assets_url(:action => 'destroy', :id => asset.id), :confirm => "Do you want to delete this photo?"

  = link_to image_tag(asset.web_path(:thumb), :width => Asset.thumbnail_width, :height => Asset.thumbnail_height), asset.web_path, :rel => 'lightbox', :title => textilight(asset.caption)
  = render :partial => 'asset_caption', :locals => {:asset => asset}
  - if session[:user]
    = in_place_editor "asset_caption_#{asset.id}", :url => assets_url(:action => 'update_caption', :id => asset.id)